
.keyboard-container {
  font-size: 0px;
}

.channel-table {
  width: 100%;

  thead {
    th {
      text-align: center;
      font-weight: bold;
    }
    th:nth-child(1) {
      width: 10%;
      min-width: 150px;
      text-align: left;
    }
    th:nth-child(3) {
      width: 20%;
      min-width: 220px;
    }
  }

  tbody {
    td:nth-child(1) {
      text-align: left;
    }
    td:nth-child(3), td:nth-child(4), td:nth-child(5) {
      text-align: center;
    }
  }

}
