<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Samples</th>
      <th>Synths</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let k of keys$ | async" class="key-{{getKeyColor(k)}}">
      <ng-container *ngIf="getKeyColor(k) == 'BLACK'; else whiteKey">
        <td>
          {{k.key}}
        </td>
        <td><div></div></td>
        <td>
          {{getSample(k.key)}}
        </td>
        <td>
          {{getSynth(k.key)}}
        </td>
      </ng-container>
      <ng-template #whiteKey>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </ng-template>
    </tr>
  </tbody>
</table>

