table {
  border-collapse: collapse;

  th {
    font-weight: bold;
  }

  th:nth-child(3), th:nth-child(4), td:nth-child(3), td:nth-child(4) {
    min-width: 200px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
}

tr {
  &.key-WHITE {
    td {
      font-size: 5px;
    }
    td:nth-child(2) {
      border-right: 1px solid black;
    }
  }
  &.key-BLACK {
    td:first-child {
      background-color: black;
      color: white;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
      padding-left: 20px;
      padding-right: 20px;
    }
    td:nth-child(2) {
      border-right: 1px solid black;
      position: relative;
      width: 10px;
      div {
        position: absolute;
        top: 50%;
        width: 10px;
        background-color: black;
        height: 1px;
      }
    }
  }
}