
<div class="keyboard-container">
  <keyboard
      (keyClick)="onKeyClick($event.key)"
      [keys]="keys$ | async"
      [highlight1Key]="selectedRangeStart"
      [highlight2Key]="selectedRangeEnd">
  </keyboard>
</div>

<div style="display: flex; flex-direction: row; margin-top: 4px;">
  <button style="flex-grow: 1" (click)="onTurnNotesOff()">Turn all Notes off</button>
  <div style="flex-grow: 4"></div>
  <ng-select
      style="flex-grow: 4"
      [items]="channels$ | async"
      bindLabel="name"
      bindValue="number"
      [(ngModel)]="selectedChannel"
      [clearable]="false">
  </ng-select>
  <button style="flex-grow: 1" (click)="onAssignChannel()">Assign Channel</button>
</div>

<br/><hr/><br/>

<table class="channel-table">
  <thead>
    <tr>
      <th>Channel</th>
      <th>Instrument</th>
      <th colspan="3">Shift</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let channel of channels$ | async">
      <td>{{channel.name}}</td>
      <td>
        <ng-select *ngIf="channel.isMidi && !channel.isPercussion"
            [items]="MIDI_INSTRUMENTS"
            bindLabel="name"
            [ngModel]="channel.instrument"
            (ngModelChange)="onInstrumentChange(channel, $event)"
            [clearable]="false">
        </ng-select>
        <ng-select *ngIf="channel.isMidi && channel.isPercussion"
            [items]="MIDI_DRUM_INSTRUMENTS"
            bindLabel="name"
            [ngModel]="channel.instrument"
            (ngModelChange)="onInstrumentChange(channel, $event)"
            [clearable]="false">
        </ng-select>
        <ng-select *ngIf="channel.isSamplerBox"
            [items]="sampleList$ | async"
            bindLabel="name"
            bindValue="id"
            [ngModel]="channel.sampleNo"
            (ngModelChange)="onSampleChange(channel, $event)"
            [clearable]="false">
        </ng-select>
        <ng-select *ngIf="channel.isSynth"
            [items]="synthList$ | async"
            bindLabel="name"
            bindValue="id"
            [ngModel]="channel.synthNo"
            (ngModelChange)="onSynthChange(channel, $event)"
            [clearable]="false">
        </ng-select>
      </td>
      <td>
        <button (click)="onNoteShift(channel, -12)">&lt;&lt;</button>
        <button (click)="onNoteShift(channel, -1)">&lt;</button>
      </td>
      <td>
        {{channel.shift}}
      </td>
      <td>
        <button (click)="onNoteShift(channel, 1)">&gt;</button>
        <button (click)="onNoteShift(channel, 12)">&gt;&gt;</button>
      </td>
    </tr>
  </tbody>
</table>
