
<div class="key-container key-{{style}}">
  <div [ngClass]="{'highlight1': highlight1, 'highlight2': highlight2, 'highlight3': highlight3}">
    <span *ngIf="style === KeyStyle.WHITE" class="content">{{content}}</span>
  </div>
</div>
