
div.key-container {
  $color1: #3A64B2;
  $color2: #6DA0FF;
  $color3: #86B0FF;
  $color4: #B28728;
  $color5: #FFD16D;
  $darker: 10%;

  display: inline-block;
  position: relative;

  height: 130px;

  &.key-WHITE {
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5) inset;
    cursor: pointer;

    > div {
      width: 30px;
      height: 129px;

      border: 1px solid black;

      &.highlight1 { background-color: $color1; }
      &.highlight2 { background-color: $color2; }
      &.highlight3 { background-color: $color3; }
    }
  }

  &.key-BLACK {
    width: 0px;

    > div {
      position: absolute;

      width: 20px;
      height: 80px;
      left: -10px;
      z-index: 1;
    
      border: 1px solid black;
      background-color: black;

      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);

      &.highlight1 { background-color: darken($color1, $darker); }
      &.highlight2 { background-color: darken($color2, $darker); }
      &.highlight3 { background-color: darken($color3, $darker); }
    }
  
  }

  .content {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20px;

    font-size: 10px;
    text-align: center;
  }

}
