
<div>
  <key *ngFor="let k of keys"
      [content]="k.name"
      [style]="getKeyColor(k)"
      (mousedown)="onKeyDown(k)"
      [highlight1]="highlight1Key === k.key"
      [highlight2]="highlight2Key === k.key"
      [highlight3]="highlight3Key === k.key">
  </key>
</div>
