
.loading-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: 10;

  background-color: white;
  opacity: 0.70;
}

.loading-overlay-content {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexGrow1 {
  flex-grow: 1;
}

.content {
  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid darkgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
