
<div class="loading-overlay flexColumn" *ngIf="hasOpenRequests$ | async">
    <div class="flexGrow1"></div>
    <div class="loading-overlay-content">Loading ...</div>
    <div class="flexGrow1"></div>
</div>

<div class="flexRow">
  <div class="flexGrow1"></div>
  <div class="content">
    <div style="float: right;">
      <button (click)="setMode(0)">Setup</button>
      <button (click)="setMode(1)">Sheet</button>
    </div>
    <h1>Headless Keyboard</h1>
    <hr class="clear: both;"/>
    <br/>
    <keyboard-setup *ngIf="mode == 0"></keyboard-setup>
    <keyboard-sheet *ngIf="mode == 1"></keyboard-sheet>
    <br/>
  </div>
  <div class="flexGrow1"></div>
</div>
